.LineNumber {
  display: flex;
  flex-direction: column;
  background-color: #292c35;
  color: #4d5059;
  float: left;
  padding: 0px 10px;
}

.LineNumber .item {
  width: 100%;
  text-align: right;
}
