.Navigation {
  font-size: 12px;
  width: 100vw;
  background-color: #22252E;
  text-align: left;
  position: fixed;
  top: 0;
}

.Navigation ul {
  padding-left: 0px;
  list-style-type: none;
}

.Navigation ul li {
  display: inline;
  background-color: #22252E;
  border-right: 1px solid #000000;
  padding: 10px;
  cursor: pointer;
}

.Navigation ul li.active {
  background-color: #292C35;
}

.Navigation ul li:hover, .Navigation ul li.active:hover {
  background-color: #34393F;
}

.Navigation ul li span.file {
  color: #6E6F72;
}

.Navigation ul li.active span.file {
  color: #FFFFFF;
}

.Navigation ul li span.folder {
  color: #4F5257;
}

.Navigation ul li.active span.folder {
  color: #BBBCC1;
}